* {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* ===== Features ===== */

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  background-image: url("../img/../img/bg.svg");
}

.features > ul {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 60px;
  width: 1200px;
  list-style: none;
}

.features > ul > li {
  margin: 0px 20px;
  width: 270px;
}

.features h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.features > ul > li > h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.features > ul > li > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.features > ul > li > img {
  width: 50px;
  height: 50px;
}

button {
  background: #ff9900;
  border-radius: 4px;
  padding: 13px 39.5px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/* ===== Footer ===== */

footer {
  display: flex;
  justify-content: space-between;
  padding: 65px 0px;
  align-items: flex-start;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

footer img {
  width: 200px;
  height: 32px;
}

footer label {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding-left: 40px;
}

footer ul {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
}

input {
  display: block;
  width: 340px;
  height: 50px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  margin: 25px 0px 25px 40px;
}

footer button {
  margin-left: 40px;
}

#input-label {
  display: inline-block;
  width: 280px;
  height: 57px;
}
